<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/pico.min.css')}}">
	<title></title>
</head>
<body>
	<h1>login</h1>
	<form method='POST' action="/login" >
        <input type="text" name="email" id="email">
        <input type="password" name="password" id="password">
        <button type="submit"> login</button>
    </form>
    <a href="/signup">Dont have an account yet?</a>
</body>
</html>